---
layout: default
---

<article class="session-page">
  <header>
    {% assign block_slug = page.block %}
    {% assign block_data = site.blocks_metadata[block_slug] %}
    <p class="session-breadcrumbs">
      <a href="{{ site.baseurl }}/bloques/">Bloques</a> &raquo;
      <a href="{{ site.baseurl }}/{{ block_slug }}/">{{ block_data.icon }} {{ block_data.title }}</a>
    </p>
    <h1>Sesión {{ page.order }}: {{ page.title }}</h1>
    {% assign session_details = site.session_metadata[page.block][page.slug] %}

    {% if session_details.obj %}
      <div class="session-objectives">
        <h3>Objetivos de la Sesión:</h3>
        <ul>
          {% for obj in session_details.obj %}
            <li>{{ obj }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if session_details.description %}
      <p class="session-description">{{ session_details.description }}</p>
    {% endif %}
  </header>

  ---

  <section class="session-main-content">
    {{ content }} {# Esto renderizará el contenido Markdown del archivo de sesión #}
  </section>

  ---

  <section class="session-resources">
    <h3>Recursos de la Sesión</h3>
    <ul>
      {% assign session_number_padded = page.order | prepend: "0" | slice: -2, 2 %}
      <li><a href="{{ site.baseurl }}/assets/presentations/sesion_S{{ session_number_padded }}.pptx" target="_blank">Presentación de la Sesión {{ page.order }}</a></li>
      <li><a href="{{ site.baseurl }}/assets/activities/Actividad_S{{ session_number_padded }}.pdf" target="_blank">Actividad de la Sesión {{ page.order }}</a></li>
    </ul>
  </section>

</article>
